.vscode / *
! .vscode / settings.json
! .vscode / tasks.json
! .vscode / launch.json
! .vscode / extensions.json
! .vscode / * .code-snippets

# Místní historie pro kód Visual Studio
.historie /

# Rozšíření kódu pro Visual Studio
* .vsix